.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Legend {
  position: absolute;
  left: 16px;
  top: 16px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 10px;
  border: 1px black;
}